.task-form-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .task-form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .task-form-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .task-form-input,
  .task-form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .task-form-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .task-form-button:hover {
    background-color: #0056b3;
  }
  